.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.product-item {
  width: 20rem;
  max-width: 95%;
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
}

.form-control input,
.form-control textarea {
  border: 1px solid #dbc441;
  font: inherit;
  border-radius: 5px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: #3d00a0;
}

button {
  font: inherit;
  border: 1px solid #3e00a1;
  color: #3e00a1;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #3e00a1;
  color: white;
}

button:active {
  background-color: #3d00a0;
  color: white;
}