extends layouts/header-layout.pug 

block content 
  main.home-main 
    h1 CatShop.com 
    .home-list 
      p The best cat shop that you can find! 
      small because you can't find any where else