<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CatShop.com</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header class="main-header">
    <nav class="main-header__nav">
      <ul class="main-header__item-list">
        <li class="main-header__item"><a class="active" href="/">Home</a></li>
        <li class="main-header__item"><a href="/shop">Shop</a></li>
        <li class="main-header__item"><a href="/add-product">Add Product</a></li>
      </ul>
    </nav>
  </header>
  <main class="home-main">
    <h1>CatShop.com</h1>
    <div class="home-list">
      <p>The best cat shop that you can find!</p>
    </div>
  </main>
</body>
</html>