doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Cat Shop
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/shop.css")
  body 
    header.main-header 
      nav.main-header__nav 
        ul.main-header__item-list 
          li.main-header__item 
            a(href="/") Home 
          li.main-header__item 
            a.active(href="/shop") Shop
          li.main-header__item 
            a(href="/add-product") Add Product
    main.shop-main 
      if products.length > 0
        .grid
          each product in products
            article.card.product-item 
              header.card
                h1.product__title #{product.title}
              .card__image 
                img(src="https://img.freepik.com/free-photo/book-composition-with-open-book_23-2147690555.jpg", alt="Open book")
              .card__content 
                h2.product__price $19.99
                p.product__description A very interesting book that no one will ever read
              .card__actions
                button.btn Add to Cart
      else 
        h1 Sorry, no products available!


