<%- include('../includes/head.ejs')%>
  <link rel="stylesheet" href="/css/product.css">
</head>
<body>
  <%- include('../includes/navigation.ejs')%>
  <main>
    <h1>Products</h1>
    <%if (products.length > 0) {%>
      <div class="grid">
        <%- include('./components-product-list/product-card.ejs') %>
      </div>
    <% } else { %>
      <div class="shop-list">
        <p>List of all the products...</p>
        <img src="https://http.cat/206" alt="Page under construction" style="width: 300px; height: auto;">
      </div>
    <% } %>
  </main>
</body>
</html>