<%- include('includes/head.ejs')%>
  <link rel="stylesheet" href="/css/product.css">
</head>
<body>
  <%- include('includes/navigation.ejs')%>
  <main>
    <h1>Products</h1>
    <%if (products.length > 0) {%>
      <div class="grid">
        <% products.forEach(product => { %>
          <article class="card product-item">
            <header class="card__header">
              <h1 class="product__title"><%= product.title%></h1>
            </header>
            <div class="card__image">
              <img 
                src="https://preview.redd.it/toea7o9mmk481.jpg?width=1080&crop=smart&auto=webp&s=ff47ea91395dacbc8eb8a214a63d7f1d3e1b307a" 
                alt="A cat"
              >
            </div>
            <div class="card__content">
              <h2 class="product__price">R$ 74,45</h2>
              <p class="product__description">That's a nice lil' cat toy!</p>
            </div>
            <div class="card__actions">
              <button class="btn">Add to Cart</button>
            </div>
          </article>
        <% }); %>
      </div>
    <% } else { %>
      <div class="shop-list">
        <p>List of all the products...</p>
        <img src="https://http.cat/206" alt="Page under construction" style="width: 300px; height: auto;">
      </div>
    <% } %>
  </main>
</body>
</html>